src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:google-sheets="http://www.mulesoft.org/schema/mule/google-sheets"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/google-sheets http://www.mulesoft.org/schema/mule/google-sheets/current/mule-google-sheets.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getFlights" doc:id="c0f47d9e-359b-48e1-8bd1-ef1c0d023929" >
		<db:select doc:id="9a23985f-b018-47d4-af9e-47a42565601e" config-ref="Database_Config" doc:name="All Flights">
			<db:sql ><![CDATA[select * from flights1]]></db:sql>
		</db:select>
		<ee:transform doc:name="Json Payload" doc:id="a8d7685d-3e68-4b09-ab8b-beaa6c639c3b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End" doc:id="e395297f-1637-4434-9fb5-6d64345cb823" message="Flow Ended"/>
	</flow>
	<flow name="postFlights" doc:id="06b591d3-3294-4e2b-a8f8-fdabedc7c9b5" >
		<db:insert doc:name="New Flight" doc:id="9f7f258a-e6af-47d1-b756-efc4850a2fe8" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO flights1
(code, price, origin, destination, departureDate, emptySeats, planeType, totalSeats)
VALUES (:code,:price,:origin,:dest,:date,:seat,:types,:tSeats);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	code: payload.code,
	price: payload.price,
	dest: payload.destination,
	origin: payload.origin,
	date: payload.departureDate,
	seat: payload.emptySeats,
	types: payload.plane.planeType,
	tSeats: payload.plane.totalSeats
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Json Payload" doc:id="b1798454-5f41-4375-a6da-49fdc5071251" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Flight has been added successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="53ea6587-eacf-49b3-93af-a2fe061aa1b3">
		<db:select doc:name="GetFlightsByID" doc:id="5cb191a5-d0df-418d-9fb3-9bd208152232" config-ref="Database_Config">
			<db:sql><![CDATA[select * from flights1 where flightId = :flightId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{flightId : attributes.uriParams.flightsId}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Json Payload" doc:id="9d848f52-ca43-4a02-99ba-e162639afa3c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End" doc:id="54a9c861-034d-473f-92d6-e46a88c428e0" message="Flow Ended" />
	</flow>
	<flow name="getBookings" doc:id="2e623c30-2f16-4f3b-866f-b3e16faf0599">
		<db:select doc:name="All bookings" doc:id="9d97b7d3-ee2c-4261-af7a-b5911263a93c" config-ref="Database_Config">
			<db:sql><![CDATA[select * from booking]]></db:sql>
		</db:select>
		<ee:transform doc:name="Json Payload" doc:id="b0e5e59e-9ff4-447f-81fe-eac9d8a73a04">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End" doc:id="662abbc9-ffe3-4791-a1d5-7a4349783e70" message="Flow Ended" />
	</flow>
	<flow name="postBookings" doc:id="f04f09b7-6595-4677-9da9-dcd8a27695c4">
		<ee:transform doc:name="Transform Message" doc:id="4865c673-80db-454e-9248-3dc84d616264" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	origin: payload.bookingDetails.value.origin,
	destination: payload.bookingDetails.value.destination,
	service: payload.bookingDetails.value.plane.planeType
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="passenger" ><![CDATA[%dw 2.0
output application/json
---
payload.passenger
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Select" doc:id="368d00de-5d64-4d34-8228-429cfdad4270" config-ref="Database_Config">
			<db:sql ><![CDATA[select flightId from flights1 where origin= :origin and destination= :destination and planeType= :service]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	origin: payload.origin,
	destination : payload.destination,
	service: payload.service
}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[payload.flightId[0]]" doc:name="Set Variable" doc:id="6e581e48-8095-4e91-81ff-01a56887c1ec" variableName="flightId"/>
		<db:insert doc:name="Insert" doc:id="cdcda9b6-5194-4875-9a30-e86791bfce9f" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into booking (passenger,flightId) values (:pass, :id);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	pass: vars.passenger,
	id: vars.flightId
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="7d6e5db0-3a41-4127-9bec-1aa39f199370" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Your flight has been booked successfully."
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getBookingByID" doc:id="831b1ae5-db9a-4b22-b8cf-b00820ee52ac">
		<db:select doc:name="GetBookingByID" doc:id="6b8f4adc-4ac0-428c-b7a4-1d331fc7d13d" config-ref="Database_Config">
			<db:sql><![CDATA[select * from booking where bookingId = :bookingId]]></db:sql>
			<db:input-parameters><![CDATA[#[{bookingId : attributes.uriParams.bookingId}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Json Payload" doc:id="524f970b-a783-436a-870d-0f2fcb652321">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End" doc:id="b6dc9a4a-56fa-439e-8b51-6cef2a731b5e" message="Flow Ended" />
	</flow>
	<flow name="getPartners" doc:id="c222bc0a-00bf-4e41-8ff1-ba1776b0e3ba" >
		<db:select doc:name="All Partners" doc:id="756f40a6-f916-4f50-80f6-87f3bad2fd8c" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from partners]]></db:sql>
		</db:select>
		<ee:transform doc:name="Json Payload" doc:id="d4766a52-48a6-4bd9-9e0e-56045e28d78e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End" doc:id="2f883345-1dee-4081-9879-2854f1844543" message="Flow Ended"/>
	</flow>
	<flow name="postPartners" doc:id="7d263dfc-fe47-4f07-ab3f-2cdc9bd23823">
		<db:insert doc:name="New Partner" doc:id="764e40b7-8006-40bc-a67e-df50548ec026" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO partners
(partnerName,services,numberOfFlights)
VALUES (:name,:service, :no)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	name: payload.partnerName,
	service: payload.services,
	no: payload.numberOfFlights
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Json Payload" doc:id="917a33bf-42a1-43a8-866e-1ae7032dde6e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Partner has been added successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getPartnersByID" doc:id="e85b349d-2904-4c2c-a87d-70b5e146549a" >
		<db:select doc:name="GetPartnersByID" doc:id="de4991ad-8ee0-4b83-b755-299b519dcbe2" config-ref="Database_Config" >
			<db:sql ><![CDATA[select * from partners where partnerId = :partnerId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{partnerId : attributes.uriParams.partnersId}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Json Payload" doc:id="bcc8a2e9-e932-4bd4-a987-33b02e12ee3f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End" doc:id="7fca8248-ecd4-4414-b9db-bfb5784e0947" message="Flow Ended" />
	</flow>
</mule>
